*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.upper-bar{
    width: 100%;
    height: 55px;
    background-color: rgba(173, 216, 230, 0.5);
    display: flex;
    color: gray;
    align-items: center;
    font-size: 18px;
}
.upper-bar div{
    position: absolute;
    right: 220px;

}
.upper-bar a{
      text-decoration: none;
      color: gray;
}

.content{
    width: 100%;
    display: flex;
    margin-left: 0px;
}
.content-left{
    width: 45%;
    height: 720px;
    /* display: flex; */
    border: 2px solid cornflowerblue;
    background-color:#0463FA ;
    color: white;
    
    
}
.content-right{
    width: 54%;
    height: 720px;
    display: flex;
    /* border: 2px solid crimson; */
    background-image: url(/medicalproject.html/images/carousel-1.jpg);
    color: white;
    font-size: 60px;
    font-weight: bold;

}
.h1text{
    margin-top: 230px;
    margin-left: 80px;
    font-size: 32px;
    font-weight: 900;
}
.border-left-content{
    display: flex;
    gap: 60px;
    margin-top: 50px;
    font-size: 20px;
    box-sizing: content-box;
   
 
}
.h1text h1{
 word-spacing: 6px; 
 letter-spacing:1px ;
}
.border-left1{
    border-left: 2px solid white;
    margin-left: 50px;
    padding-left: 30px;
}
.border-left2{
    border-left: 2px solid white;
    padding-left: 30px;
}
.border-left3{
    border-left: 2px solid white;
    padding-left: 30px;
}
.border-left1 h2{
    margin-bottom: 10px;
}
.border-left2 h2{
    margin-bottom: 10px;
}
.border-left3 h2{
    margin-bottom: 7px;
}
.content-right h1{
    margin: 310px auto;
}
#content-about{
    width: 100%;
    height: 100vh;
    display: flex;
}
#content-about .about-left{
    width: 50%;

}
#content-about .about-left{
     width: 50%;
}
#about #content-about .about-right .about-right-css{
       margin-top: 80px;
       margin-left: 170px;

}
.about-btn1{
    padding: 7px 22px;
    border-radius: 20px;
    background-color: white;
    color: gray;
    border-color: cornflowerblue;

}
.trust{
    padding-top: 30px;
    padding-bottom: 32px;
    font-size: 40px;
    font-weight: 900;
}
.about-paragraph1{
    font-weight: 500;
    font-size: 17px;
    color: gray;
    line-height: 1.2;
    letter-spacing: 0.3px;
    word-spacing: 1px;
}
.about-paragraph2{
    
    font-weight: 500;
    font-size: 17px;
    color: gray;
    line-height: 1.2;
    word-spacing: 1.2;
    letter-spacing: 0.3px;
}
.small{
    margin: 30px 0px;
    font-weight: 500;
    font-size: 18px;
    color: gray;

}
.about-btn2{
   padding: 20px 50px;
   border-radius: 35px;
   background-color: #0463FA;
   border-color: #0463FA;
   color: white;
}
.about-btn2:hover{
     background-color: blue;
}
#about #content-about .about-right-css i{
    color: blue;
}
#services{
    width: 100%;
    height: 128vh;
    text-align: center;
}
#services .pp{
    color: gray;
    margin:50px auto 25px ;
    font-size: 20px;
    border: 1px solid lightblue;
    width: 70px;
    padding:5px 27px 5px 27px ;
    border-radius: 30px;
    box-sizing: content-box;
}
#services h1{
    font-size: 35px;
    font-weight:700 ;
    font-family: sans-serif;
}
.box{
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}
.box div{
    width: 380px;
    height: 350px;
    border-radius: 12px;
    background-color: rgba(173, 216, 230, 0.242);
    text-align: start;
}
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header h1{
    color: #0463FA;
    font-weight: 500;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-style: ; */
}
header ul{
    display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 170px;

}
header ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header ul li a:hover, header ul li a.active{
      color: #0463FA;

}
.btn-appointment{
    position: absolute;
    top: 74px;
    right: 58px;
    position: absolute;
    top: 56px;
    right: 0px;
    /* padding: 24px; */
    /* padding-right: 80px; */
    padding: 24px 50px 27px 30px;
    box-sizing: content-box;
    font-size: 20px;
    background-color: hsl(217, 97%, 50%);
    color: white;
    border: none;
}  
.klinik-container{
    display: flex;
    align-items: center;
}
header .klinik-container i{
    font-size: 30px;
    color: #0463FA;
}
.btn-appointment:hover{
    background-color: rgba(0, 0, 255, 0.796);
}
#services .box div .box-paragraph{
  font-size: 19px;
  padding-top: 20px;
  padding-left: 70px;
  color: gray;
  letter-spacing: 0.3px;
  line-height: 21px;
}
#services .box div i{
    padding-top: 60px;
    padding-left: 70px;
    font-size: 40px;
    color: #0463FA;
    
}
#services .box div h1{
    padding-top: 22px;
    padding-left: 70px;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.679);
}
#services .box div .cardiology-btn{
    padding: 9px 16px;
    margin: 22px 0 0 70px;
    border-radius: 35px;
    font-size: 16px;
    transition: 200ms;   
    border-color: rgba(0, 0, 0, 0.607);
}
#services .box div .cardiology-btn:hover{
      background-color: blue; 
}
#fourth{
    width: 100%;
    height: 100vh;
    border: 2px solid green;
    box-sizing: border-box;
}
#fourth .content-fourth{
      margin-top: 35px;
    border: 2px solid chartreuse;
    width: 100%;
}
#fourth .content-fourth .content-left-fourth{
    width: 50%;
    height: 550px;
    border: 2px solid burlywood;
}
#fourth .content-fourth .content-left-fourth{
    width: 50%;
    height: 550px;
    /* border: 2px solid darkslateblue; */
    background-color:#0463FA ;
    color: white;
}
#fourth .content-fourth .content-left-fourth .clf-div{
    
    margin-left: 80px;
    margin-top: 85px;
    margin-right: 64px;
}
#fourth .content-fourth .content-left-fourth .clf-div .btn-fourth{
    display: inline-block;
    border: 1px solid grey;
    padding: 8px 20px;
    border-radius: 22px;
    font-size: 18px;
    letter-spacing: 0.2px;
}

#fourth .content-fourth .content-left-fourth .clf-div .statement{
    margin-top: 18px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fourth .content-fourth .content-left-fourth .clf-div .fourth-paragraph{
    margin-top: 30px;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-size: 18px;

}
.split1{
    margin-top: 32px;
    /* border: 2px solid brown; */
    width: 500px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hp1{
   padding-left: 60px;
   position: relative;
}
.hp1 span{
    font-size: 18px;
    margin-left: 32px;
}
.hp1 h3{
    font-size: 22px ;
    margin-left: 30px;
    margin-top: -5px;

}
.hp2 span{
    font-size: 18px;  
}

.hp2 h3{
    font-size: 22px ; 
    margin-top: -5px; 
    
    
}
.hp2{
    padding-left: 50px; 
    position: relative;
}

.split2{
    margin-top: 20px;
    /* border: 2px solid brown; */
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.hp3{
    margin-left: 60px;
    position: relative;
    padding-left: 60px;
}

.hp3 span{
    font-size: 18px;
    margin-left: -22px;
}
.hp3 h3{
    font-size: 22px ;
    margin-left: -28px;
    margin-top: -5px;

}
.hp4 span{
    font-size: 18px;
}
.hp4 h3{
    font-size: 22px ;  
    margin-top: -5px; 
}
.hp1 i{
    font-size: 38px;
    position: absolute;
    top: 12px;
    left: 34px;
    
}
.hp2 i{
     font-size: 42px;
    position: absolute;
    top: 12px;
    right: 100px;
}
.hp3 i{
    font-size: 38px;
    position: absolute;
    top: 12px;
    left: -24px;
}
.hp4{
    position: relative;
    padding-left: -40px;
}
.hp4 i{
    position: absolute;
    top: 12px;
    right: 100px;
    font-size: 40px;

}


