* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: white;
  color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
}
header .img1 {
  margin-left: 35px;
}
header .img2 {
  display: none;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-family: sans-serif;
  font-size: 17px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: gray;
}
header ul li a:hover {
  color: #120A78;
}
header .right-side-header {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
header .right-side-header i {
  margin-top: 32px;
  margin-left: 12px;
}
header .right-side-header p {
  border: 1px solid rgba(255, 0, 0, 0.611);
  font-size: 20px;
  padding: 6px 15px;
  margin-right: 35px;
  font-family: sans-serif;
}

#home {
  width: 100%;
  height: 165vh;
  box-sizing: border-box;
  align-items: center;
  font-family: sans-serif;
  position: relative;
}
#home .backgroundimage-children {
  background-image: url(banner-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 98vh;
  text-align: center;
  box-sizing: border-box;
}
#home .backgroundimage-children .headi-poor-child {
  padding-top: 86px;
  padding-bottom: 30px;
  font-size: 40px;
  font-weight: 800px;
  color: white;
  margin: 0;
}
#home .backgroundimage-children p {
  margin-top: -5px;
  font-size: 20px;
  line-height: 25px;
  color: white;
}
#home .backgroundimage-children button {
  padding: 15px 25px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
  border: none;
  color: white;
  background-color: #F64646;
  transition: 300ms;
}
#home .backgroundimage-children button:hover {
  background-color: #120A78;
}
#home .backgroundimage-children .ring-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  width: 100%;
  color: white;
}
#home .backgroundimage-children .ring-container .ring {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 52px;
}
#home .backgroundimage-children .input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#home .backgroundimage-children .input-box div {
  width: 900px;
  height: 226px;
  margin-top: 86px;
  text-align: center;
  background-color: white;
}
#home .backgroundimage-children .input-box div .headi-contact-d {
  font-size: 22px;
  margin-top: 20px;
}
#home .backgroundimage-children .input-box div input {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 80px;
  font-size: 15px;
  box-shadow: 2px 2px 10px 2px gray;
  border: rgb(128, 128, 128);
}
#home .backgroundimage-children .input-box div button {
  padding: 14px 50px;
  background-color: #120A78;
  color: white;
  border: none;
  transition: 300ms;
  margin-top: 16px;
}
#home .backgroundimage-children .input-box div button:hover {
  background-color: #F64646;
}
#home .three-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  color: white;
}
#home .three-boxes div {
  width: 335px;
  height: 390px;
  color: white;
  text-align: center;
}
#home .three-boxes .box1 {
  background-color: #120A78;
  transition: 300ms;
}
#home .three-boxes .box1 img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}
#home .three-boxes .box1 a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  border: 1px solid white;
  padding: 7px 15px;
}
#home .three-boxes .box1 p {
  word-spacing: 0.3px;
  line-height: 22px;
  font-size: 17px;
}
#home .three-boxes .box2 {
  background-color: #F64646;
}
#home .three-boxes .box2 img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}
#home .three-boxes .box2 a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  border: 1px solid white;
  padding: 7px 15px;
}
#home .three-boxes .box2 p {
  word-spacing: 0.3px;
  line-height: 22px;
  font-size: 17px;
  margin-bottom: 37px;
}
#home .three-boxes .box3 {
  background-color: #120A78;
  transition: 300ms;
}
#home .three-boxes .box3 img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}
#home .three-boxes .box3 a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  border: 1px solid white;
  padding: 7px 15px;
}
#home .three-boxes .box3 p {
  word-spacing: 0.3px;
  line-height: 22px;
  font-size: 17px;
  margin-bottom: 37px;
}
#home .three-boxes .box1:hover {
  background-color: #F64646;
}
#home .three-boxes .box3:hover {
  background-color: #F64646;
}

#about {
  width: 100%;
  height: 100vh;
}
#about .about-chrity {
  width: 100%;
  height: 90vh;
  background-color: #120A78;
  display: flex;
  flex-wrap: wrap;
}
#about .about-chrity .left-about {
  width: 52%;
  height: 500px;
  box-sizing: border-box;
  margin-left: 165px;
  margin-top: 90px;
  color: white;
  font-family: sans-serif;
}
#about .about-chrity .left-about a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  transition: 300ms;
}
#about .about-chrity .left-about a:hover {
  background-color: #F64646;
}
#about .about-chrity .left-about h1 {
  letter-spacing: 0.4px;
  font-size: 35px;
  margin-bottom: 60px;
}
#about .about-chrity .left-about P {
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 70px;
}
#about .about-chrity .right-about {
  width: 25%;
  height: 535px;
  box-sizing: border-box;
  margin-top: 75px;
  margin-left: 20px;
  background-image: url(about-img.png);
  background-repeat: no-repeat;
  background-position-y: -5px;
  background-position-x: 5px;
  background-size: cover;
}

#our-mission h1 {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 700;
  margin: 0;
  margin-left: 23%;
}
#our-mission .our-mission-para {
  font-size: 20px;
  margin-left: 23%;
  margin-bottom: 44px;
  font-weight: 500;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.748);
}
#our-mission .big1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 30px;
}
#our-mission .big1 .small1 {
  position: relative;
}
#our-mission .big1 .small1 img {
  max-width: 580px;
  height: 380px;
}
#our-mission .big1 .small1 .image1-content {
  width: 572px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 70, 70, 0.8823529412);
  text-align: center;
  color: white;
  transition: 400ms;
  opacity: 0;
}
#our-mission .big1 .small1 .image1-content h3 {
  margin-top: 75px;
  font-size: 21px;
  font-weight: 500;
}
#our-mission .big1 .small1 .image1-content p {
  margin-top: 40px;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
}
#our-mission .big1 .small1 .image1-content a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #F64646;
}
#our-mission .big1 .small1 .image1-content:hover {
  opacity: 1;
}
#our-mission .big1 .small2 {
  position: relative;
}
#our-mission .big1 .small2 img {
  max-width: 580px;
  height: 380px;
  margin-right: 30px;
}
#our-mission .big1 .small2 .image2-content {
  width: 572px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 70, 70, 0.8470588235);
  text-align: center;
  color: white;
  transition: 400ms;
  opacity: 0;
}
#our-mission .big1 .small2 .image2-content h3 {
  margin-top: 75px;
  font-size: 21px;
  font-weight: 500;
}
#our-mission .big1 .small2 .image2-content p {
  margin-top: 40px;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
}
#our-mission .big1 .small2 .image2-content a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #F64646;
}
#our-mission .big1 .small2 .image2-content:hover {
  opacity: 1;
}
#our-mission .big2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#our-mission .big2 .small3 {
  position: relative;
  margin-top: 90px;
  margin-left: 70px;
  margin-right: 35px;
}
#our-mission .big2 .small3 img {
  max-width: 580px;
  height: 380px;
}
#our-mission .big2 .small3 .image3-content {
  width: 514px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 70, 70, 0.8470588235);
  text-align: center;
  color: white;
  transition: 400ms;
  opacity: 0;
}
#our-mission .big2 .small3 .image3-content h3 {
  margin-top: 75px;
  font-size: 21px;
  font-weight: 500;
}
#our-mission .big2 .small3 .image3-content p {
  margin-top: 40px;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
}
#our-mission .big2 .small3 .image3-content a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #F64646;
}
#our-mission .big2 .small3 .image3-content:hover {
  opacity: 1;
}
#our-mission .big2 .small4 {
  position: relative;
  margin-top: 90px;
}
#our-mission .big2 .small4 img {
  max-width: 580px;
  height: 380px;
  margin-right: 20px;
}
#our-mission .big2 .small4 .image4-content {
  width: 514px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 70, 70, 0.8470588235);
  text-align: center;
  color: white;
  transition: 400ms;
  opacity: 0;
}
#our-mission .big2 .small4 .image4-content h3 {
  margin-top: 75px;
  font-size: 21px;
  font-weight: 500;
}
#our-mission .big2 .small4 .image4-content p {
  margin-top: 40px;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
}
#our-mission .big2 .small4 .image4-content a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #F64646;
}
#our-mission .big2 .small4 .image4-content:hover {
  opacity: 1;
}
#our-mission .big3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 30px;
  margin-bottom: 30px;
}
#our-mission .big3 .small5 {
  position: relative;
  margin-top: 75px;
}
#our-mission .big3 .small5 img {
  max-width: 580px;
  height: 380px;
}
#our-mission .big3 .small5 .image5-content {
  width: 535px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 70, 70, 0.8823529412);
  text-align: center;
  color: white;
  transition: 400ms;
  opacity: 0;
}
#our-mission .big3 .small5 .image5-content h3 {
  margin-top: 75px;
  font-size: 21px;
  font-weight: 500;
}
#our-mission .big3 .small5 .image5-content p {
  margin-top: 40px;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
}
#our-mission .big3 .small5 .image5-content a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #F64646;
}
#our-mission .big3 .small5 .image5-content:hover {
  opacity: 1;
}
#our-mission .big3 .small6 {
  position: relative;
  margin-top: 75px;
}
#our-mission .big3 .small6 img {
  max-width: 580px;
  height: 380px;
  margin-right: 30px;
}
#our-mission .big3 .small6 .image6-content {
  width: 535px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 70, 70, 0.8470588235);
  text-align: center;
  color: white;
  transition: 400ms;
  opacity: 0;
}
#our-mission .big3 .small6 .image6-content h3 {
  margin-top: 75px;
  font-size: 21px;
  font-weight: 500;
}
#our-mission .big3 .small6 .image6-content p {
  margin-top: 40px;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
}
#our-mission .big3 .small6 .image6-content a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #F64646;
}
#our-mission .big3 .small6 .image6-content:hover {
  opacity: 1;
}

#news {
  width: 100%;
  height: 239vh;
}
#news .news-heading-container {
  margin-top: 100px;
  margin-left: 150px;
}
#news .news-heading-container h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}
#news .news-heading-container p {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.797);
}
#news .news-image {
  width: 543px;
  height: 590px;
}
#news .for-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 210px;
  margin-top: 50px;
  gap: 30px;
}
#news .for-flex h1 {
  margin-top: 70px;
  margin-bottom: 55px;
  font-size: 26px;
}
#news .for-flex p {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.67);
  word-spacing: 0.4px;
  letter-spacing: 0.3px;
  line-height: 19px;
}
#news .for-flex .first {
  font-size: 22px;
  font-weight: 700;
  color: #120A78;
}
#news .for-flex .second {
  font-size: 22px;
  font-weight: 700;
  color: #F64646;
}
#news .for-flex a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
#news .for-flex .anker-one {
  background-color: #120A78;
}
#news .for-flex .anker-two {
  background-color: #F64646;
  transition: 400ms;
}
#news .for-flex .anker-two:hover {
  background-color: #120A78;
}
#news .news-heading-container2 {
  margin-top: 100px;
  margin-left: 150px;
}
#news .news-heading-container2 h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}
#news .news-heading-container2 p {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.797);
}
#news .beautiful {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  position: relative;
}
#news .beautiful img {
  margin-left: 200px;
  margin-top: 35px;
}
#news .beautiful .number {
  padding: 13px 23px;
  background-color: #F64646;
  position: absolute;
  color: white;
  margin-top: 138px;
  margin-left: 200px;
  font-size: 14px;
}
#news .beautiful .numbera {
  padding: 13px 17px;
  background-color: #120A78;
  position: absolute;
  color: white;
  margin-top: 180px;
  margin-left: 200px;
  font-size: 14px;
}
#news .beautiful .sweet h1 {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 40px;
}
#news .beautiful .sweet p {
  white-space: 0.6px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.764);
  line-height: 21px;
  margin-bottom: 20px;
}
#news .beautiful .sweet .first1 {
  font-size: 22px;
  font-weight: 700;
  color: #120A78;
}
#news .beautiful .sweet .second1 {
  font-size: 22px;
  font-weight: 700;
  color: #F64646;
}
#news .beautiful .sweet a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
#news .beautiful .sweet .anker-one1 {
  background-color: #120A78;
}
#news .beautiful .sweet .anker-two1 {
  background-color: #F64646;
  transition: 400ms;
}
#news .beautiful .sweet .anker-two1:hover {
  background-color: #120A78;
}
#news .beautiful1 {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
#news .beautiful1 img {
  margin-left: 200px;
  margin-top: 35px;
}
#news .beautiful1 .number1 {
  padding: 13px 23px;
  background-color: #F64646;
  position: absolute;
  color: white;
  margin-top: 138px;
  margin-left: 200px;
  font-size: 14px;
}
#news .beautiful1 .numbera1 {
  padding: 13px 17px;
  background-color: #120A78;
  position: absolute;
  color: white;
  margin-top: 180px;
  margin-left: 200px;
  font-size: 14px;
}
#news .beautiful1 .sweet1 h1 {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 40px;
}
#news .beautiful1 .sweet1 p {
  white-space: 0.6px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.764);
  line-height: 21px;
  margin-bottom: 30px;
}
#news .beautiful1 .sweet1 .first2 {
  font-size: 22px;
  font-weight: 700;
  color: #120A78;
}
#news .beautiful1 .sweet1 .second2 {
  font-size: 22px;
  font-weight: 700;
  color: #F64646;
}
#news .beautiful1 .sweet1 a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
#news .beautiful1 .sweet1 .anker-one2 {
  background-color: #120A78;
}
#news .beautiful1 .sweet1 .anker-two2 {
  background-color: #F64646;
  transition: 400ms;
}
#news .beautiful1 .sweet1 .anker-two2:hover {
  background-color: #120A78;
}

#donat {
  width: 100%;
  height: 600px;
  background-image: url(6\ kids.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
#donat .blue-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 10, 120, 0.9215686275);
}
#donat .blue-blue h1 {
  font-size: 40px;
  font-weight: 400;
  margin-left: 35%;
}
#donat .blue-blue .a {
  display: flex;
  flex-wrap: wrap;
  margin-left: 180px;
  margin-right: 100px;
  padding: 30px 40px;
  margin-top: 30px;
  gap: 40px;
  border: 1px solid white;
}
#donat .blue-blue .a h2 {
  margin-top: 6px;
}
#donat .blue-blue .a p {
  font-size: 18px;
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
  line-height: 22px;
  font-weight: 400;
}

footer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.766);
  position: relative;
  background-color: rgba(0, 0, 0, 0.833);
}
footer .yo {
  width: 190px;
  height: 260px;
  margin-top: 96px;
  margin-left: 206px;
}
footer .yo i {
  font-size: 30px;
  margin-left: 5px;
  color: gray;
}
footer .yoo {
  width: 270px;
  height: 160px;
  margin-left: 65px;
  margin-top: 96px;
}
footer .yoo ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
footer .yoo ul li {
  margin-left: -20px;
  font-size: 20px;
}
footer .yoo h2 {
  margin: 0;
  margin-bottom: 21px;
  color: rgba(255, 255, 255, 0.858);
  font-size: 21px;
}
footer .yooo {
  width: 272px;
  height: 160px;
  margin-top: 96px;
  margin-left: 35px;
}
footer .yooo h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.853);
}
footer .yooo p {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
}
footer .yoooo {
  width: 190px;
  height: 160px;
  margin-top: 96px;
  margin-left: 22px;
}
footer .yoooo h2 {
  margin: 0;
  color: rgba(255, 255, 255, 0.856);
  margin-bottom: 20px;
  font-size: 21px;
}
footer .yoooo p {
  font-size: 19px;
  line-height: 29px;
}
footer input {
  width: 780px;
  height: 42px;
  margin-left: 460px;
  margin-top: -90px;
  font-size: 20px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.616);
  background-color: transparent;
}
footer .yooooo {
  margin-left: 35%;
  font-size: 20px;
  color: white;
}
footer span {
  color: #F64646;
  position: absolute;
  right: 290px;
  bottom: 165px;
  font-size: 22px;
  font-weight: 600;
}

form .form-div {
  width: 550px;
  height: 630px;
  margin-top: 70px;
  margin-left: 206px;
}
form .form-div h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
form .form-div input {
  padding: 20px 300px 20px 16px;
  border: 1px solid rgba(0, 0, 0, 0.541);
  border-radius: 5px;
  font-size: 19px;
}
form .form-div a {
  text-decoration: none;
  padding: 12px 38px;
  background-color: #120A78;
  color: white;
  transition: 400ms;
}
form .form-div a:hover {
  background-color: #F64646;
}

#new {
  display: none;
}

#newa {
  display: none;
}

@media (max-width: 600px) {
  header {
    box-sizing: border-box;
    padding: 1vw 3vw;
  }
  header .img1 {
    display: none;
  }
  header .img2 {
    display: block;
  }
  header ul {
    display: flex;
    flex-direction: column;
    margin: 0 100vh;
    position: fixed;
    top: 115px;
    right: -100;
  }
  header .right-side-header {
    display: none;
  }
  #home .backgroundimage-children p {
    font-size: 3vw;
    padding: 2vw 8vw;
  }
  #home .input-box {
    margin-top: 0vw;
    height: 70vw;
  }
  #home .input-box div h1 {
    padding-top: 6vw;
    margin-bottom: 0;
  }
  #home .input-box div input {
    width: 85%;
    margin: 2vw;
    padding: 0;
  }
  #home .three-boxes {
    margin-top: 45vw;
  }
  #home .three-boxes div {
    width: 66vw;
  }
  #about {
    margin-top: 144vh;
    height: 96vh;
    background-color: #120A78;
  }
  #about .about-chrity .left-about {
    margin-left: 5vw;
  }
  #about .about-chrity .left-about h1 {
    margin-top: -3vw;
    font-size: 5vw;
    padding-right: 7vw;
  }
  #about .about-chrity .left-about p {
    font-size: 2.7vw;
  }
  #about .about-chrity .left-about a {
    font-size: 2.4vw;
  }
  #about .about-chrity .right-about {
    height: 36vw;
    background-size: cover;
    background-position: center;
    margin-left: 9vw;
    margin-top: 18vw;
  }
  #our-mission {
    width: 100%;
  }
  #our-mission h1 {
    margin-top: 17vw;
    margin-left: 7vw;
    font-size: 29px;
  }
  #our-mission .our-mission-para {
    margin-left: 7vw;
    margin-top: 2.5vw;
    font-size: 3vw;
    width: 84%;
  }
  #our-mission .big1 {
    align-items: center;
    display: block;
  }
  #our-mission .big1 .small1 img {
    width: 90%;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  #our-mission .big1 .small1 .image1-content {
    width: 90%;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  #our-mission .big1 .small2 img {
    width: 90%;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  #our-mission .big1 .small2 .image2-content {
    width: 90%;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  #our-mission .big2 {
    width: 100%;
    display: block;
    align-items: center;
  }
  #our-mission .big2 .small3 {
    margin-top: 15vw;
    margin-left: 0;
    width: 90%;
  }
  #our-mission .big2 .small3 img {
    width: 100%;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  #our-mission .big2 .small3 .image3-content {
    width: 100%;
    margin-left: 3vw;
    margin-right: 2.5vw;
  }
  #our-mission .big2 .small4 {
    margin-top: 5vw;
    width: 100%;
  }
  #our-mission .big2 .small4 img {
    width: 90%;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  #our-mission .big2 .small4 .image4-content {
    width: 90%;
    margin-left: 4vw;
    margin-right: 3vw;
  }
  #our-mission .big3 {
    width: 100%;
    display: block;
    align-items: center;
  }
  #our-mission .big3 .small5 {
    margin-top: 15vw;
    margin-left: 0;
    width: 90%;
  }
  #our-mission .big3 .small5 img {
    width: 100%;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  #our-mission .big3 .small5 .image5-content {
    width: 100%;
    margin-left: 3vw;
    margin-right: 2.5vw;
  }
  #our-mission .big3 .small6 {
    margin-top: 5vw;
    width: 100%;
  }
  #our-mission .big3 .small6 img {
    width: 90%;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  #our-mission .big3 .small6 .image6-content {
    width: 90%;
    margin-left: 4vw;
    margin-right: 3vw;
  }
  #news {
    width: 100%;
  }
  #news .news-heading-container {
    margin-left: 9vw;
  }
  #news .news-heading-container h1 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 0;
  }
  #news .news-heading-container p {
    width: 85%;
    font-size: 3vw;
  }
  #news .for-flex {
    margin-left: 0;
  }
  #news .for-flex .news-image {
    margin-left: 3vw;
    margin-right: 3vw;
    width: 92%;
  }
  #news .for-flex .news-image-right {
    margin-left: 9vw;
    width: 80vw;
  }
  #news .news-heading-container2 {
    margin-left: 9vw;
  }
  #news .news-heading-container2 h1 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 0;
  }
  #news .news-heading-container2 p {
    width: 85%;
    font-size: 3vw;
  }
  #news .beautiful img {
    margin-left: 9vw;
    margin-top: 2vw;
    width: 88%;
  }
  #news .beautiful .number {
    left: -24.3vw;
  }
  #news .beautiful .numbera {
    left: -24.1vw;
  }
  #news .beautiful .sweet {
    margin-left: 9vw;
  }
  #news .beautiful .sweet h1 {
    margin-top: 2vw;
  }
  #news .beautiful .sweet P {
    width: 85%;
    margin-top: 3vw;
  }
  #news .beautiful1 img {
    margin-left: 9vw;
    margin-top: 12vw;
    width: 88%;
  }
  #news .beautiful1 .number1 {
    left: -24.3vw;
  }
  #news .beautiful1 .numbera1 {
    left: -24.1vw;
  }
  #news .beautiful1 .sweet1 {
    margin-left: 9vw;
  }
  #news .beautiful1 .sweet1 h1 {
    margin-top: 2vw;
  }
  #news .beautiful1 .sweet1 P {
    width: 85%;
    margin-top: 3vw;
  }
  #donat {
    margin-top: 190vh;
    width: 100%;
    height: 115vh;
  }
  #donat .blue-blue h1 {
    font-size: 5vw;
    margin-left: 23vw;
  }
  #donat .blue-blue .a {
    box-sizing: border-box;
    margin: 2vw 5vw;
  }
  #donat .blue-blue .a h2 {
    margin-top: -6vw;
  }
  #donat .blue-blue .a P {
    margin-top: 8vw;
    font-size: 2.7vw;
    font-weight: 300;
    line-height: 3.8vw;
    font-family: cursive;
  }
  footer {
    height: 95vh;
    width: 100%;
    position: relative;
  }
  footer .yo {
    margin-top: 15vw;
    margin-left: 8vw;
    padding: 0;
  }
  footer .yo h1 {
    font-size: 18px;
  }
  footer .yoo h1 {
    font-size: 18vw;
  }
  footer .yoo ul li {
    font-size: 3.3vw;
  }
  footer input {
    margin-left: -70vw;
    border: 1px so skyblue;
    width: 60vw;
    margin-top: 32vw;
    color: white;
  }
  footer .yooo {
    margin-top: 2vw;
    margin-left: 8vw;
    font-size: 18vw;
  }
  footer .yooo p {
    font-size: 3vw;
  }
  footer .yoooo {
    margin: 0;
    padding: 0;
    margin-left: 8vw;
    margin-top: 2vw;
    font-size: 18px;
  }
  footer .yoooo p {
    font-size: 3vw;
  }
  footer .yooooo {
    margin: 0;
    padding: 0;
  }
  footer .yooooo p {
    font-size: 2.6vw;
    margin-left: 17vw;
    word-spacing: 0.4vw;
    margin-top: 10vw;
  }
  footer span {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */